# Practice | Python Exercises

This notebook contains a series of exercises to practice Python lists, dictionaries, tuples, and sets.

### Exercise 1: Reverse a List
Write a program to reverse the following list.

In [ ]:
example_list = [10, 20, 30, 40, 50]
example_list.reverse()
print(example_list)

[50, 40, 30, 20, 10]

### Exercise 2: Merge Two Lists
Create two lists and merge them into a new list such that the elements of both lists alternate.

In [ ]:
list1 = ["A", "B", "C"]
list2 = ["D", "E", "F"]
list3 = list1 + list2
print(list3)

['A', 'B', 'C', 'D', 'E', 'F']

### Exercise 3: Square Each Element
Given a list of integers, return a new list containing the squares of each number.

In [ ]:
numbers = [1, 2, 3, 4, 5]
running_sum_list = [0]            # I need a list here NOT just a variable
for n in numbers:                 # Create loop
  running_sum_list.append(n*n)    # Define what to be done in interation // append puts result of n*n into the new list. Without it, only 1 result

print(running_sum_list)

[0, 1, 4, 9, 16, 25]

In [ ]:
squared = [n*n for n in numbers]    # SMARTER
print(squared)                      # Learning: you can put the mathematical equ in front of the loop definition

[1, 4, 9, 16, 25]

### Exercise 4: Concatenate Lists
Concatenate two lists in the following order: `["Hello ", "World "]` and `["Python", "Programming"]`.

In [ ]:
list1 = ["Hello ", "World "]
list2 = ["Python", "Programming"]
print([list1 + list2])

[['Hello ', 'World ', 'Python', 'Programming']]

### Exercise 5: Iterate Over Two Lists Simultaneously
Given two lists, print elements from the first list in original order and elements from the second list in reverse order.

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

for itemsl1, itemsl2 in zip(list1, reversed(list2)):
  print(itemsl1, itemsl2)

1 6
2 5
3 4

### Exercise 6: Remove Empty Strings
From the following list of strings, remove all empty strings.

In [ ]:
string_list = ["Alice", "", "Bob", "", "Charlie"]
string_list[:] = [x for x in string_list if x]    # "" empty string = FALSE , "Alice" = TRUE
print(string_list)

['Alice', 'Bob', 'Charlie']

### Exercise 7: Insert Item After Specified Item
Add the item `9000` after `8000` in the following list.

In [ ]:
nested_list = [1000, 2000, [3000, 4000, [5000, 6000], 7000], 8000]
# Your code here

### Exercise 8: Extend Nested List
Extend the nested list by adding `["x", "y", "z"]` to it.

In [ ]:
nested_list = ["p", "q", ["r", ["s", "t"], "u"], "v"]
nested_list[2][1].extend(["x", "y", "z"])
print(nested_list)

['p', 'q', ['r', ['s', 't', 'x', 'y', 'z'], 'u'], 'v']

### Exercise 9: Replace First Occurrence
Replace the first occurrence of `15` with `150` in the following list.

In [ ]:
list1 = [5, 10, 15, 20, 15]
list1[0] = 150
print(list1)

[150, 10, 15, 20, 15]

### Exercise 10: Remove All Occurrences
Remove all occurrences of `25` from the following list.

In [ ]:
list2 = [5, 25, 15, 25, 35]
#list2 = [x for x in list2 if x != 25]
result = []
for x in list2:
  if x != 25:
    result.append(numbers)

list2 = result
print(list2)

[15, 15, 15]

## Python Dictionary Exercises

### Exercise 11: Merge Two Dictionaries
Merge two dictionaries into one.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged_dict = dict1 |dict2
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Exercise 12: Count Character Frequency
Count the frequency of each character in a string and store it in a dictionary.

In [ ]:
input_string = "hello world"
dict_freq = {}

for char in input_string:
  dict_freq[char] = dict_freq.get(char, 0) +1

print(dict_freq)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

### Exercise 13: Get Keys as List
Given a dictionary, return its keys as a list.

In [ ]:
dict_1 = {'name': 'Alice', 'age': 25}
list_of_keys = []                       # empty list

for keys in dict_1:                     # iterate the list find keys
  list_of_keys.append(keys)             # extract them into variable keys and append them in list_of_keys

print(list_of_keys)

['name', 'age']

### Exercise 14: Update Dictionary Value
Update the value associated with key `'age'` to `30`.

In [ ]:
person_info = {'name': 'John', 'age': 25}
person_info["age"] = 30
print(person_info)

{'name': 'John', 'age': 30}

### Exercise 15: Remove Key from Dictionary
Remove key `'city'` from the following dictionary if it exists.

In [70]:
location_info = {'country': 'USA', 'city': 'New York'}
location_info.pop("city")
print(location_info)

{'country': 'USA'}

## Python Tuple Exercises

### Exercise 16: Convert List to Tuple
Convert the given list to a tuple.

In [72]:
list3 = [1, 2, 3]
tup1 = tuple(list3)
print(tup1)

(1, 2, 3)

### Exercise 17: Count Occurrences in Tuple
Count how many times `2` appears in the following tuple.

In [73]:
tuple1 = (1, 2, 3, 2)
tuple1.count(2)

2

### Exercise 18: Find Index of Element
Find the index of element `5` in the following tuple.

In [74]:
tuple2 = (10, 20, 30, 5)
tuple2.index(5)

3

### Exercise 19: Unpack Tuple
Unpack values from a tuple into separate variables.

In [77]:
tuple3 = (100, 'Hello', True)
x, y, z = tuple3
print(x, y, z)

100 Hello True

### Exercise 20: Create Tuple with Single Element
Create a tuple that contains only one element `42`.

In [81]:
tup1 = 42,
print(tup1)

(42,)

## Python Set Exercises

### Exercise 21: Create Set from List
Create a set from the following list to remove duplicates.

In [82]:
list4 = [1, 2, 2, 3]
s1 = set(list4)
print(s1)

{1, 2, 3}

### Exercise 22: Union of Two Sets
Find the union of two sets.

In [84]:
set1 = {1, 2}
set2 = {2, 3}
union_of_sets = set1 | set2
print(union_of_sets)

{1, 2, 3}

### Exercise 23: Intersection of Two Sets
Find the intersection of two sets.

In [85]:
set1 = {1, 2}
set2 = {2, 3}
intersetion1 = set1 & set2
print(intersetion1)

{2}

### Exercise 24: Difference Between Sets
Find elements present in set1 but not in set2.

In [ ]:
set1 = {1, 2}
set2 = {2, 3}
# Your code here to find difference.

### Exercise 25: Check Subset
Check if set1 is a subset of set2.

In [86]:
set1 = {1}
set2 = {1, 2}
set1.issubset(set2)

True

## Additional Exercises


### Exercise 26: Flatten a Nested List
Flatten the following nested list into a single list.

In [ ]:
nested_list = [4, 5[3, 4], 5]
# Your code here to flatten the nested list.

### Exercise 27: Find Maximum Value in List
Find the maximum value in a given list of numbers.

In [87]:
numbers_list = [10, -20, -30]
max(numbers_list)

10

### Exercise 28: Check for Palindrome
Check if a given string is a palindrome using lists.

In [ ]:
input_string = "radar"
# Your code here to check for palindrome.

### Exercise 29: Rotate List Elements
Rotate elements in the given list by one position to the right.

In [88]:
numbers_list = [1, 2, 3]
numbers_list.rotate()

AttributeError: 'list' object has no attribute 'rotate'

### Exercise 30: Count Vowels in String
Count vowels in a given string using lists.

In [ ]:
input_string = "Hello World"
# Your code here to count vowels.